.container
{
    width: 100%;
    margin: 0 auto;
    background-color: rgb(0, 175, 144);
}

.row
{
    --bs-gutter-x: 0rem;
    margin-top: 5px;
}

.nav-item a.nav-link:hover {
    color: #ffffff; 
    background-color: #2b4b6a; 
    text-decoration: underline; 
    transition: 0.3s ease-in-out; 
}

.nav-item.dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #396189; 
    color: #ffffff; 
    transition: 0.3s ease-in-out;
}

#content3
{
    background-color: rgb(2, 21, 38);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 0 auto;
}

#content3 h2
{
    font-size: 30px;
    padding-top: 150px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#content3
{
    padding: 10px;
    background-image: url(../img/bg2.jpg);
}

#content3 img
{
    border-radius: 50%;
    margin: 50px;
    margin: 0 auto;
    align-content: left;

}

#level
{
    margin: 0 auto;
    height: 250px;
}

.upper
{
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.rupper
{
    background-color: rgb(40, 107, 95);
    color: white;
    text-align: center;
    
}

.lupper
{
    background-color:rgb(6, 65, 109);
    color: white;
    text-align: center;
    
}

.lower
{
    margin-bottom: 10px;
    align-items: center;
}

.rlower
{
    background-color: rgb(1, 53, 75);
    color: white;
    text-align: center;
}

.llower
{
    background-color: rgb(97, 26, 65);
    color: white;
    text-align: center;
}
